.app {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.controlBar {
  margin-left: 5vw;

  .controls {
    display: flex;
    flex-direction: column;
    > * {
      margin: 8px 0;

    }

    .turn {
      margin-top: 8px;
      font-weight: bold;
    }
  }

  .leave {
    color: red;
    &:hover {
      cursor: pointer;
    }
  }
}