button {
  margin: 16px 0;
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  &:hover {
    cursor: pointer;
  }
}

input {
  padding: 8px;
}