header {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .headerWrapper {
    width: 60%;
    align-self: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;

    .left, .right {
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .right > .link {
      &:hover {
        cursor: pointer;
      }

      margin-left: 16px;
    }
  }
}

