@import './common.scss';

.modalWrapper {
  background: rgba(100, 100, 100, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .midScreenModal {
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 32px;
    transform: translate(-50%, -50%);
    background: #EEE;

    .close {
      margin: 16px 0;
      padding: 16px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #333;
      &:hover {
        cursor: pointer;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      > * {
        margin: 8px 0;
      }
    }
  }
}